*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5%;

    position: relative;
}

/*header*/
.page-header{
    background-color: #04AA6D;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color:white;
    font-size: 18px;
    margin-bottom: 20px;
}

.site-name{
    margin-left: 10px;
    text-shadow: 0.5px 0 black;
}

.interactive-panel{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

.interactive-panel button{
    background-color: #04AA6D;
    border: none;
    cursor: pointer;
}
.notification-button{
    margin-right: 10px;
    display: flex;
}

.profile-link:link, .profile-link:visited{
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}
.profile-link p{
    color: white;
}
.user-icon{
    border-radius: 50%;
    border: solid black 1px;
    background-color: white;
}
.username{
    text-shadow: 0.5px 0 black;
}

/*page content*/
.current-link{
    font-weight: bolder;
}

.article-core{
    height: 100%;
    overflow-x: auto;
    padding-right: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
}

.table-container{
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;

    margin-bottom: 10px;
}

/*navigation*/
.navigation-link a:link, a:visited{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.navigation-link a:hover{
    background-color: #04AA6D;
    color: white;
}

.navigation-list{
    list-style-type: none;
}

.navigation-list li{
    margin-bottom: 10px;
    font-size: 20px;
}

h1{
    font-weight: normal;
    margin-bottom: 10px;
}
/*table*/
.student-table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.student-table td, .student-table th{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px;
}

.add-button{
    align-self: end;
    margin-bottom: 5px;
}

.small-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.online-status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: #04AA6D;
    margin-inline: auto;
}

.offline-status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: #b0b0b0;
    margin-inline: auto;
}

.table-navigation{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3px;


}

.warning-popup{
    background-color: white;
    border: 1px solid black;
    height: 200px;
    width: 400px;

    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    top: 20%;

    display: flex;
    flex-direction: column;

    visibility: hidden;
    z-index: 1;
}

.warning-popup header, .complex-popup header{
    padding:  5px 10px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    background-color: #04AA6D;
    color: white;
}

.complex-popup #student-id{
}

.warning-popup article{
    padding:  10px 20px;
    border-top: 1px solid black;
    /*border-bottom: 1px solid black;*/
    flex: 1 0 auto;
    display: block;
}
#deleted-name{
    display: inline;
    font-weight: bold;
}

.warning-popup .warning-message{
    margin: auto 0;
}
.warning-popup footer{
    margin:  5px 10px;
    flex: 0 0 auto;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.warning-popup footer button, .complex-popup footer button{
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

.complex-popup{
    height: 400px;
    width: 400px;
    border: 1px solid black;

    position: absolute;
    left: 0; right: 0; top: 20%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    z-index: 1;
}
.complex-popup article{
    padding:  20px 40px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 0 auto;
    background-color: white;
}

.input-row{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.input-field{
    width: 170px;
    height: 20px;
}

.display{
    visibility: visible;
}

.profile{
    position: relative;
}
.profile:hover .profile-dropdown{
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: white;
}
.profile-dropdown{
    display: none;

    position: absolute;
    top: 90%;
    right: -10px;
    width: 100%;
    z-index: 1;

    background-color: white;
    border: 1px solid black;
}
.profile-dropdown button{
    background-color: white;
    padding: 5px 10px;
}
.profile-dropdown button:hover{
    background-color: #04AA6D;
    color: white;
}

.notification-block{
    position: relative;
}
.notification-block:hover .notification-dropdown{
    display: flex;
    flex-direction: row;
}

.notification-dropdown{
    display: none;
    z-index: 1;

    position: absolute;
    top: 95%;
    left: -200%;


    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    animation: popupMenuAnimation 0.5s ease forwards;
}

.notification-body{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;
}

.sender-info{
    padding: 5px 10px ;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04AA6D;
}

@keyframes popupMenuAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification-block svg {
    -ms-transform: rotate(0deg);
}

.notification-block:hover svg {
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}

.control-button{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.button-cell{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.invalid-field{
    border-color: #c81e22;
}
.invalid-field:focus-within{
    border-color: black;
}

.complex-popup footer{
    margin:  5px 10px;
    flex: 0 0 auto;

    display: grid;
    grid-template-columns: 60% 15% 15%;
    column-gap: 5%;

}
.validation-error{
    align-self: center;
}
